<!doctype html>
<head>
<title>Artwork of the Day</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<h1>On this day in:</h1>
      <p>
        {{ record['history'].text }}
      </p>
        <p>
        <em>Search Term: {{ term['term'] }}</em> 
        </p>
          <a href="{{ term['objURL'] }}">
            <img src="{{ term['img'] }}">
            <p>
              <b>{{ term['title'] }}</b>
              <br />
              {{ term['artist'] }}
            </p>
          </a>
      </li>
      <hr>
  </ul>
   
